@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,200;1,300;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,700;1,800&display=swap');


@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*clases reutilizables*/

.container{
    @apply max-w-[1280px] mx-auto px-4;
}

body{
    @apply text-base leading-[1.6] font-barlow text-black ;
}

img{
    @apply w-full block;
}

ul{
    @apply list-none;
}

/* Utilities */
.lead-text{
    @apply text-xl font-normal;
}

.para-text{
    @apply text-base font-normal text-white/90;
}

.section-btn{
    @apply min-w-[200px] py-[10px] px-[18px] uppercase text-xl font-bold tracking-[.15em] bg-submarine-600 text-white relative z-10 border-[3px] border-solid border-coral-600 hover:bg-transparent transition ease-in-out duration-300;
}

.img-fit-cover img{
    @apply w-full h-full object-cover;
}

.btn-primary{
    @apply mt-4 h-[34px] text-center border-solid border-[2px] border-teal-600 py-0 px-4 bg-white min-w-[108px] font-semibold tracking-[.03em] inline-flex items-center text-white bg-transparent transition ease-in-out duration-300 hover:bg-pink-600;
}

.btn-secondary{
    @apply mt-4 h-[34px] text-center border-solid border-[1px] border-coral-300 py-0 px-4 bg-transparent min-w-[108px] font-semibold tracking-[.03em] inline-flex items-center text-cyan-500 transition ease-in-out duration-300 hover:bg-coral-600 hover:text-white;
}



/* HEADER */

.banner-home{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), linear-gradient(248.75deg, rgba(0, 159, 157, 0.41) 0%, rgba(15, 10, 60, 0.41) 38.46%), url("../assets/img/banner1.jpg") center/cover no-repeat;
    @apply  min-h-screen flex items-center justify-center;
}

.header .lead-text{
    @apply max-w-[600px];
}

.banner-content{
    @apply w-full container text-white flex flex-col items-center md:items-center;
}

.banner-badge{
    @apply uppercase bg-purple-600 py-2 px-4 font-semibold text-xl tracking-[.1em] inline-block mb-6;
}

.banner-title{
    @apply font-poppins text-3xl md:text-5xl font-normal tracking-[.09em] leading-[1.2] max-w-[600px] mb-10 uppercase lg:text-[46px] text-center ;
}

.banner-content .lead-text{
    @apply text-center md:text-start;
}

.banner-btn{
    @apply min-w-[140px] h-[45px] py-3 px-4 text-base font-semibold uppercase border-2 border-solid border-teal-400 mt-8 flex items-center hover:bg-purple-700 hover:text-white transition ease-in-out duration-300;
}

/* NAVBAR */
.navbar{
    @apply fixed left-0 top-0 w-full min-h-[78px] bg-indigo-950 z-40;
}

.navbar-brand{
    @apply text-white uppercase whitespace-nowrap font-bold text-[32px];
}

.nav-item{
    @apply py-[10px] px-0 border-b-[1px] border-solid border-black/10 lg:ms-[6px];
}

.nav-link{
    @apply uppercase font-semibold tracking-[2px] transition duration-300 ease-in-out text-purple-950 hover:text-pink-600 lg:py-[1px] lg:px-[10px] lg:text-white xl:px-4;
}

#navbar-hide-btn{
    @apply absolute top-5 right-5 transition duration-300 ease-in-out hover:scale-125;
}

.navbar-content{
    @apply lg:flex lg:items-center lg:justify-between;
}

.navbar-nav{
    @apply lg:flex;
}

.connect-link{
    @apply py-[6px] px-2 flex items-center justify-center transition ease-in-out duration-300 invert hover:opacity-90 lg:text-white;
}

.connect-link img{
    @apply lg:invert;
}

.connect-list{
    @apply flex justify-center items-center flex-wrap mt-6 lg:mt-0 lg:text-white lg:ms-10 lg:flex-nowrap xl:ms-[88px];
}

.connect-text{
    @apply uppercase opacity-90 font-bold w-full tracking-[2px] mb-3 lg:w-auto lg:mb-0 lg:me-8;
}

/* SECCIÓN */
.sc-title{
    @apply py-3 px-0 text-center font-extrabold text-[32px] tracking-[.1em] text-white mb-10 font-poppins;
}

.sc-title h2{
    @apply uppercase relative;
}

.sc-title h2 span{
    @apply text-pink-600;
}

/* DESTACADOS */
.sc-popular{
    @apply bg-violet-950;
}

/* Cards destacados */

.game-card{
    @apply flex flex-col;
}

.game-card .game-card-top{
    @apply h-[250px]  overflow-hidden relative after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full ;
}

.game-card .star-rating{
    @apply flex;
}

.game-card .star-rating img{
    @apply py-0 px-[2px];
}

.game-card .ratings-count{
    @apply absolute left-[18px] bottom-[10px] font-bold text-[14px] py-[2px] px-3 rounded-2xl bg-white z-10 flex;
}

.game-card .game-card-bottom{
    @apply flex-1 bg-violet-700 py-5 px-[18px] relative;
}

.game-card .game-card-title{
    @apply text-[18px] font-extrabold font-poppins tracking-[.06em] mb-[10px];
}

.game-card .details-group{
    @apply pt-3 text-white/60 text-[14px];
}



/* Slick slider */

.slider-item{
    @apply w-[150px] xl:w-[270px] px-4 outline-none cursor-grab;
}

.slider-item img{
    @apply border-solid border-[6px] border-pink-600;
}

.slick-list{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}


.slick-dots li{
    @apply h-[10px] w-[60px];
}

.slick-dots li button{
    @apply before:w-full before:h-full before:border-solid before:border-2 before:border-coral-400 before:transition before:duration-300 before:ease-in-out;
    color: unset;
}

.slick-dots li.slick-active{
    @apply bg-pink-600;
}

.slick-center{
    @apply lg:scale-150;
}

.slick-prev{
    @apply absolute left-4 z-10 scale-[1.4];
}

.slick-next{
    @apply absolute right-4 z-10 scale-[1.4];
}







/*PARTICLES*/

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
}

.contenedor {
    position: relative;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 992px){
    .slick-list{
        padding-top: 110px!important;
        padding-bottom: 110px!important;
    }
}

@media screen and (min-width: 1200px){
    .slick-list{
        padding-top: 140px!important;
        padding-bottom: 140px!important;
    }
}